{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <a href="{% url 'KaShea_Tasks:create_task' %}" class="btn btn-success">Create New Task</a>
        </div>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-header">
                    Priority: {{ task.get_priority_display }}
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ task.task_name }}</h5>
                    <p class="card-text">{{ task.task_description }}</p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">Due Date: {{ task.due_date|date:"Y-m-d" }}</li>
                        <li class="list-group-item">Category: {{ task.category }}</li>
                        <li class="list-group-item">Assigned To: {{ task.assigned_to }}</li>
                        <li class="list-group-item">Reminder:
                            {% if task.reminder_date %}
                                {{ task.reminder_date|date:"Y-m-d H:i" }}
                            {% else %}
                                No reminder set
                            {% endif %}
                        </li>
                    </ul>
                    <div class="mt-auto">
                        <a href="" class="btn btn-primary btn-sm">Edit</a>
                        <a href="" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Added on: {{ task.date_added|date:"Y-m-d" }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
